*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif
}
body{
    background-color: rgb(244, 245, 245);
    color: rgb(17, 10, 29);
    line-height: 1.6;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header{
height: 200px;
background-image: url(alto.JPG);
}
nav{
    background-color: rgb(76, 131, 182);
    padding: 10px 0;
    border-radius: 8px;
    margin-bottom: 20px;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin: 0 15px;
}
nav ul li a{
    color: withe;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition:background-color 0.3s;
}
nav ul li a:hover{
    background-color: rgb(47, 192, 228);
}
.hero{
    padding: 40px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 2px 5px;
}
.hero h2{
    color: rgb(4, 4, 27);
    margin-bottom: 15px;
}
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.feature-box{
    flex-basis: 30%;
    background-color: rgb(87, 215, 238);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5pc;
    text-align: center;
}
.feature-box img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}
footer{
    background-color: rgb(51, 113, 247);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px 0;
    border-radius: 8px;
    margin-top: 20px;
}